<!DOCTYPE html>
{% load static %}
{% load inlinecss %}
{% inlinecss "static/sass/email.css" %}
<html>
    <!-- <head>
        <link rel="stylesheet" type="text/css" href={% static 'sass/email.css' %}>
    </head> -->
    <body>
    
        Dziękujemy za zakup planu treningowego {{client_name}}
        Twoim trenerem jest {{ trainer_name }} {{last_name}}
        Jeśli nie możesz pojawić się na treningu zadzwoń {{trainer_phone}}
        Twój trenining odbędzie się : {{event.date}} o godzinie {{event.start_hour}} - {{event.end_hour}}
    <button><a href="http://localhost:3000/reservationtoplan/{{id}}/{{client_name}}/{{client_email}}/{{client_phone}}">Dodaj kolejną rezerwację</a></button>
    </body>
</html>
{% endinlinecss %}